<form
  class="mt-4"
  name="container-form"
  method="POST"
  action="/courses/handle-form-actions"
>
  <h3>Khoá học của tôi</h3>
  {{#if deletedCount}}
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
  {{/if}}

  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="checkbox-all"
      />
      <label class="form-check-label" for="checkbox-all">
        Chọn tất cả
      </label>
    </div>
    <select
      class="form-control form-select-sm checkbox-select-all-options"
      name="action"
      required
    >
      <option value="">--- Hành động ---</option>
      <option value="delete">Xoá</option>
    </select>
    <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>Thực
      hiện
    </button>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          ID
          {{{sortable "_id" _sort}}}
        </th>
        <th scope="col">
          Tên khoá học
          {{{sortable "name" _sort}}}
        </th>
        <th scope="col">Trình độ
          {{{sortable "level" _sort}}}
        </th>
        <th scope="col" colspan="2">Thời gian tạo
          {{{sortable "createdAt" _sort}}}
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value="{{this._id}}"
                name="courseIds[]"
              />
            </div>
          </td>
          <th scope="row">{{this._id}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              onclick="window.location ='/courses/{{this._id}}/edit';"
            >Sửa</button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              data-target="#delete-course-modal"
              data-id="{{this._id}}"
              data-name="{{this.name}}"
            >xoá</button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center">Bạn chưa đăng khoá học nào
            <a href="/courses/create">Đăng khoá học</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! delete hidden from course }}
<form name="delete-course-form" method="POST"></form>

{{! confirm delete course }}
<!-- Modal -->

<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Xoá</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Bạn có muốn xoá này không?</h5>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Huỷ</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá
          bỏ</button>
      </div>
    </div>
  </div>
</div>

{{! prettier-ignore }}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var courseID;
        var deleteForm = document.forms['delete-course-form'];
        //var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var btnDeleteCourse = document.getElementById('btn-delete-course') 
        var checkBoxAll =  $("#checkbox-all");
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        $('#delete-course-modal').on('show.bs.modal', function (event) { 
            var button = $(event.relatedTarget) 
            var id =  button.data('id') 
            var name =  button.data('name') 
            console.log("id is ", id)
            console.log("name is ", name)
            var modal = $(this)
            modal.find('.modal-title').text('Xoá ' + name + " ?")
            modal.find('.modal-body').text("Bạn có muốn xoá " + name + " không?")
            courseID = id;
        });


        btnDeleteCourse.onclick = function() {
            deleteForm.action = "/courses/" + courseID + "?_method=DELETE";
            deleteForm.submit();
        }

        //  check box all change 
        checkBoxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            courseItemCheckbox.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn()
            console.log(courseItemCheckbox);
            console.log($(this).prop('checked'));
        })

        //  check box item change 
        courseItemCheckbox.change(function() {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkBoxAll.prop('checked', isCheckedAll);
            renderCheckAllSubmitBtn()
        });


        //  check all submit btn clicked
        checkAllSubmitBtn.click(function(event) {
            event.preventDefault();
            var isSubmitable = !$(this).hasClass('disable');
            if (isSubmitable) {
              //console.log(containerForm);
               containerForm.submit();
            }
        });


        // Re-render check all submit btn
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0 ) {
                checkAllSubmitBtn.attr('disabled', false);
            } else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        };

    });
    

    

</script>